* {
  margin: 0%;
  padding: 0%;
}
body {
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  width: 100%;
  height: 100vh;
  background-image: url(https://w0.peakpx.com/wallpaper/192/387/HD-wallpaper-blue-wood-aqua-background-black-blue-space-wood.jpg);
  background-position: 0%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form_div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  width: 500px;
  height: 500px;
  margin: 100px auto;
  text-align: center;
}
.colculate {
  width: 470px;
  height: 470px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-bottom: 50px;
  flex-direction: column;
}
.form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.row-reverse {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
.h1 {
  color: aqua;
  font-size: 40px;
}
.answer {
  width: 100px;
  height: 30px;
  border: 2px solid aqua;
  background-color: black;
  color: white;
  border-radius: 10px;
  font-size: 22px;
  font-weight: 500;
  text-align: right;
  padding-right: 10px;
}
.inp {
  width: 100px;
  height: 30px;
  border: 2px solid aqua;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: 22px;
  font-weight: 500;
  text-align: right;
  padding-right: 10px;
}
.inp2 {
  width: 100px;
  height: 30px;
  border: 2px solid aqua;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: 22px;
  font-weight: 500;
  text-align: right;
  padding-right: 10px;
}
.characters {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}
.btn {
  width: 155px;
  height: 70px;
  font-size: 30px;
  font-weight: 700;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  color: white;
  border: 5px solid aqua;
}
.btn1 {
  width: 155px;
  height: 70px;
  font-size: 30px;
  font-weight: 700;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  color: white;
  border: 5px solid aqua;
}
.btn2 {
  width: 155px;
  height: 70px;
  font-size: 30px;
  font-weight: 700;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  color: white;
  border: 5px solid aqua;
}
.btn3 {
  width: 155px;
  height: 70px;
  font-size: 30px;
  font-weight: 700;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  color: white;
  border: 5px solid aqua;
}
.btn4 {
  width: 155px;
  height: 70px;
  font-size: 30px;
  font-weight: 700;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  color: white;
  border: 5px solid aqua;
}
.btn5 {
  width: 155px;
  height: 70px;
  font-size: 30px;
  font-weight: 700;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  color: white;
  border: 5px solid aqua;
}
