*{
    margin: 0%;
    padding: 0%;
}
body{
    color: white;
    font-family: sans-serif;
    width: 100%;
    height: 100vh;
    background-image:url(https://depositphotos-blog.s3.eu-west-1.amazonaws.com/uploads/2017/07/Soothing-nature-backgrounds-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    color: rgb(124, 124, 124);
}
.text{
    border-radius: 5px;
    width: 350px;
    height: 30px;
}
.paswrd{
    border-radius: 5px;
    width: 350px;
    height: 30px;
}
.display{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
button{
    width: 105px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_div{
    opacity: 0.8;
    border-radius: 10px;
    background-color: rgb(44, 44, 44);
    width: 400px;
    height: 400px;
    margin:100px auto;
    text-align: center;
}
.line{
    width: 90px;
    height: 2px;
    margin-top: 6px;
    background-color:rgb(124, 124, 124);
}
.label{
    font-size: 12px;
}
p{
    font-size: 12px;
}
.facebook{
    background-color: blue;
    border: 0px;
    border-radius: 3px;
    height: 30px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.Twitter{
    background-color: rgb(0, 162, 255);
    border: 0px;
    border-radius: 3px;
    height: 30px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.Google{
    background-color: rgb(255, 17, 0);
    border: 0px;
    border-radius: 3px;
    height: 30px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.input{
    background-color: rgb(5, 162, 0);
    width: 350px;
    height: 30px;
    border: 0px;
    font-weight: 600;
    border-radius: 3px;
    opacity: 1;
    color: aliceblue;
    transition: all 0.3s ease;
}
.input:hover{
    background-color: black;
    color: rgb(5, 162, 0);
}